
.btn {
    font-family: $main-font;
    border: 2px solid $alt-color; 
    border-radius: 8px;
    cursor: pointer;    
    background-color: $secondary-color;
    color: white;
    font-weight: 600;
    padding: 8px;

    & > * {
        pointer-events: none;
    }

    &:hover {
        background-color: $alt-color; 
        border-color: $secondary-color;
    }
    .fas {
        margin-right: 5px;
    }

    &--in-note {
        font-weight: 400;
        padding: 4px;
        margin: 0 0 4px 4px;
        background-color: #FF2626;
        border: none;
        font-size: 12px;

        &:hover {
            background-color: black;
            border:none;
            color: #FF2626;
        }

        .fas {
            margin: 0 auto; 
        }
    }
}  